OLLAMA_PERSONA_MODEL=gpt-oss:120b-cloud
OLLAMA_ATTACK_GENERATING_MODEL=gpt-oss:20b-cloud
OLLAMA_PERSONA_GENERATING_MODEL=gpt-oss:20b-cloud
OLLAMA_ATTACKING_MODEL=gpt-oss:120b-cloud
OLLAMA_EVALUATING_MODEL=gpt-oss:20b-cloud

EXTRA_MODELS=qwen3.5:cloud, gpt-oss:20b, gpt-oss:120b, gpt-oss:20b-cloud, gpt-oss:120b-cloud

NUM_TURNS=3
ATTACK_VARIATION_COUNT=5
PERSONA_VARIATION_COUNT=1
CHOSEN_PERSONA_STRATEGY=1
TESTS_COUNT=4
GENERATED_CHARACTERS_COUNT=3
GENERATED_ATTACKS_COUNT=5

MAX_CONCURRENT_REQUESTS=5
ATTACK_BUNDLE_BATCH_SIZE=50
TRANSCRIPT_BATCH_SIZE=20