OLLAMA_PERSONA_MODEL=gpt-oss:20b-cloud
OLLAMA_ATTACK_GENERATING_MODEL=gpt-oss:20b-cloud
OLLAMA_PERSONA_GENERATING_MODEL=gpt-oss:20b-cloud
OLLAMA_ATTACKING_LLM=gpt-oss:20b-cloud
OLLAMA_EVALUATING_LLM=gpt-oss:20b-cloud
